body {
  align-items: center;
  line-height: 29px;
  font-family: Arial;
  background: linear-gradient(
    to top,
    rgb(35, 171, 255) 15%,
    blue 50%,
    rgb(35, 171, 255) 70%,
    rgb(35, 171, 255) 70%
  );
  color: rgb(255, 255, 255);
  margin: 0;
  position: relative;
}
.div-container {
  width: 1200px;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
  position: relative;
}
p {
  font-size: 20px;
}
ol {
  font-size: 19px;
}
ul {
  font-size: 19px;
}
.page-1,
.page-2,
.page-3,
.page-4 {
  width: 450px;
}
.page-5 {
  width: 650px;
}
.head-1 {
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  text-transform: uppercase;
  /*width: 480px;*/
  /*text-align: center;*/
  /*padding-bottom: 25px;*/
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 0px;
}
/* pseudo element*/
.head-1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
.head-2::after {
  content: "TOP";
  font-size: 16px;
  background-color: yellow;
  display: inline-block;
  color: blue;
  padding-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: -20px;
  right: 10px;
  border-radius: 3px;
}

.head-1,
.head-2,
.head-3,
.head-4,
.child-link {
  color: rgb(255, 255, 0);
}
.head-2 {
  font-size: 37px;
  position: relative;
}
.head-3 {
  font-size: 30px;
}
nav a:link {
  margin: 0;
  margin-top: 15px;
  padding-left: 25px;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  transition: 0.3s;
  /*padding-left: 28px;
  padding-bottom: 28px;
  line-height: 0px;*/
}

nav a:hover {
  opacity: 0.7;
}
nav a:active {
  opacity: 0.6;
  cursor: progress;
}
.heading {
  box-shadow: 2px 2px 1.9px rgba(0, 0, 0, 0.8);
  background-color: rgb(0, 149, 255);
}
.aside-el {
  background-color: rgb(100, 111, 237);
  border: 5px solid yellow;
  border-left: none;
  border-right: none;
}
.head-4 {
  text-align: center;
  text-transform: uppercase;
}
.link {
  color: yellow;
  font-style: italic;
  margin-left: 0px;
}
.link:hover {
  opacity: 0.9;
  cursor: pointer;
}
.link:active {
  opacity: 0.8;
  cursor: progress;
}
li:first-child {
  font-weight: bold;
}
a:link {
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
}
.para-sec {
  line-height: 10px;
  padding-left: 30px;
}
.para-sec-2 {
  line-height: 10px;
  padding-left: 30px;
}
.headshot {
  cursor: not-allowed;
}
.html-img {
  cursor: not-allowed;
}
button {
  padding: 13px;
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}
/*Using Floats
.headshot {
  float: left;
  margin-bottom: 18px;
}
.author {
  margin-left: 100px;
  margin-top: 77px;
}
.head-1 {
  float: left;
}
nav a:link {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 10px;
  float: right;
}
.clear::after {
  clear: both;
  content: "";
  display: block;
}
article {
  width: 800px;
  float: left;
  margin-top: 45px;
}
footer {
  clear: both;
}
.aside-el {
  float: right;
  width: 360px;
  margin-top: 60px;
  padding: 50px 40px;
  box-sizing: border-box;
}
*/
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-flex {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author {
  margin-left: 30px;
}
.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.link {
  padding-bottom: 0;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
}
.link:link {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 8px;
  display: block;
}
.row {
  display: flex;
  gap: 70px;
  align-items: flex-start;
}
article {
  flex: 0 0 825px;
  margin-top: 70px;
}
aside {
  flex: 0 0 300px;
  margin-top: 80px;
}
footer h6 {
  font-size: 15px;
}
